.App {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: url("../brick_bg.jpg");
  background-size: cover;
}

.App-nav-menu {
  width: 25%;
  display: grid;
  padding-left: 2%;
  grid-template-areas: 
  'l'
  'n'
  'n'
  's';
}

.App-logo {
  grid-area: l;
  width: 65%;
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.App-nav-menu > nav {
  grid-area: n;
}

.App-social-links {
  grid-area: s;
}

.App-nav-menu > nav > a {
  z-index: 99;
  display: block;
  text-shadow: 5px 5px 4px #000000;
}
.App-nav-menu > nav > a {
  transition: 0.5s;
  text-decoration: none;
  color: antiquewhite;
  font-size: 2em;
  margin-top: 10px;
}
.App-nav-menu > nav > a:hover {
  transition: 0.5s;
  font-size: 2.5em;
}
.App-nav-menu > nav > a.active {
  transition: 0.5s;
  font-size: 2.5em;
  color: #2c1104;
}


.App-content-container {
  position: relative;
  margin-right: 5%;
  width: 75%;
  /* background: #141414dc; */
  background: #fcf2e6b2;
  color: black;
  box-shadow: 5px 10px 15px 10px #000000e7;
  overflow: auto;
}

.Page-content {
  position: relative;
  /* padding: 10px; */
}