.Blogs-container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  height: 100vh;
}

.Blogs-container.column-view {
  flex-direction: column;
  align-items: flex-start;
}


/* Blog thumbnails: */
.Blogs-thumbnail {
  background: #250a01;
  overflow: hidden;
  margin: 5px;
  margin-top: 20px;
  width: 48%;
  height: 150px;
  background-size: cover;
  align-self: auto;
  padding: 10px;
  border-radius: 25px;
  /* -webkit-box-shadow: inset 0px 0px 15px -6px #ffffff;  */
  /* box-shadow: inset 0px 0px 15px -6px #ffffff; */
  box-shadow: 5px 10px 15px 10px #00000096;
  transition: width 0.5s, height 0.5s;
  cursor: pointer;
}

.Blogs-thumbnail > h2 {
  font-size: 1.1em;
  text-align: center;
  background-color: rgba(250, 235, 215, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}
.Blogs-thumbnail > p {
  padding: 3px;
  font-size: 0.9em;
  background-color: rgba(250, 235, 215, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}


/* Fullscreen post */
.Blogs-post {
  z-index: 2;
  width: 100%;
  padding: 20px;
  background: #fcf2e6b2;
  position: absolute;
  top: 0px;
  left: 0px;
  animation: animate-blog-in 500ms ease-out;
  -webkit-animation: animate-blog-in 500ms ease-out;
  overflow: auto;
  height: 100vh;
}

@keyframes animate-blog-in {
  0%{transform: translateX(100%)}
  100%{transform: translateX(0%)}
}

@keyframes animate-close-ani {
  0%{transform: translateX(0%);}
  100%{transform: translateX(100%);}
}

.Blogs-post.animate-close {
  animation: animate-close-ani 500ms ease-out;
}

.Blogs-post > article {
  margin-top: 250px;
}

.Blogs-post article > figure > img {
  max-width: 100%;
}