.Projects-container {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@keyframes fadeIn {
  from{
    opacity: 0;
    transform: scale(0.3);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}


/* Project app squares */

.Project-app-div {
  position: relative;
  max-width: 315px;
  max-height: 315px;
  min-width: 315px;
  min-height: 315px;
  width: 100%;
  height: 100%;
  margin: 1%;
  z-index: 1;
  cursor: pointer;

  justify-self: center;
  align-self: center;

  animation: fadeIn 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: calc(var(--animation-order) * 200ms);
}
.Project-app-div > img {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* Open project:  */

@keyframes animate-opening {
  0%{
    transform: scale(0);
  }
  25%{

  }
  100%{
    transform: scale(1);
  }
}

.Project-details {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 5%;
  z-index: 2;
  background: #250a01e1;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  width: 100%;
  height: 100%;
  
  animation: animate-opening 500ms;
}

.Project-details > button.close {
  position: absolute;
  top: 10px;
  left: 10px;
}

.Project-details > img {
  width: 225px;
  height: 225px;
}

.Project-details > h2 {
  color: antiquewhite;
}

.Project-details > p {
  color: antiquewhite;
  white-space: pre-wrap;
}

.Project-details > .links > button {
  background: antiquewhite;
  border-radius: 10px;
  color: #250a01e1;
  font-family: 'Source-Code-Pro', monospace;
  font-weight: 600;
  font-size: 0.8em;
  text-align: center;
}

.Project-details > .links > .repo > img {
  height: 25px;
}

@keyframes animate-closing {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.Project-details.closing {
  animation: animate-closing 500ms;
}

@media only screen and (max-width: 900px) {
  .Projects-container {

    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .Project-app-div {

    width: 90%;
    height: 95%;
    max-width: unset;
    max-height: unset;
    min-width: unset;
    min-height: unset;
    /* height: 90%; */
  }
}

.Project-app-div > .icon-shadow {
  position: absolute;
  z-index: 1;
  top: 5.6%;
  left: 5.6%;
  border-radius: 75px;
  width: 88%;
  height: 88%;
  margin: auto;
  box-shadow: 7px 15px 15px 10px #000000da;
}