.Page-resume > h1 {
  display: block;
  float: left;
}

#Download-resume {
  float: right;
  margin-right: 3%;
  margin-top: 15px;
}
#Download-resume > button > img {
  width: 50px;
}
#Download-resume > button > span {
  display: block;
}

.resume-wrapper {
  padding: 10px 50px;
  float: left;
}

.resume-wrapper > h2 {
  text-align: center;
}

.resume-wrapper > h2 + hr + p {
  text-align: center;
}
.resume-wrapper > .split {
  width: 100%;
  display: inline-block;
}
.resume-wrapper > .split > span.desc {
  float: left;
}
.resume-wrapper > .split > h4 {
  float: left;
  margin: 0px;
}
.resume-wrapper > .split > span {
  float: right;
}